/* COLORS */

// Primaries
$pri__base: hsl(151, 91%, 40%);
$pri__shade: hsl(151, 80%, 30%);
$pri__tint: hsl(151, 51%, 93%);

// Neutrals
$neu__14: hsl(0, 0%, 14%);
$neu__30: hsl(0, 0%, 30%);
$neu__100: hsl(0, 0%, 100%);
