.collection-list {
	padding-top: 5.6rem;
	padding-bottom: 7.2rem;
	display: flex;
	flex-direction: column;
	gap: 5.6rem;
	align-items: center;

	@include breakpoint(medium) {
		padding-top: 8rem;
	}

	@include breakpoint(large) {
		padding-top: 8.8rem;
	}

	@include breakpoint(xlarge) {
		padding-top: 12.8rem;
	}
}
